@import '../styles.scss';


.option { @include theme($theme) { @include background-hover(get-theme-color('body-color'), get-theme-color('accent-color')); color: get-theme-color('primary-text-color'); }; @include border(bottom); @include vertically-centred; padding: 0.5rem; cursor: pointer; transition: 0.3s ease background-color; }
  .option.checked-option { @include bg-color('accent-color'); }
  .option:last-child { border-bottom: none; padding-bottom: 7px; }
  .option .content { @include vertically-centred; flex: 1; }
    .option .content i { margin-right: 1rem; }
  .option .checked { margin: 0 1rem; flex: 1; text-align: right; }
    .option .checked i { font-size: small; }

.content { @include vertically-centred; }
  .content i { margin-right: 0.5rem; }
  .content p { word-break: break-word; }
