// breakpoints
$breakpoint-desktop-large: 1600px;
$breakpoint-desktop: 1250px;
$breakpoint-tablet: 900px;
$breakpoint-phone: 600px;

// font-families
$sans-serif: 'Open Sans', sans-serif;
$serif: Georgia, 'Times New Roman', Times, serif !important;
$mono: monospace !important;

// font-sizes
$html-font-size: 10px;
$firefox-html-font-size: 11px;
