@import '../styles.scss';


.container { display: flex; align-items: center; }
  .children { position: relative; }
  .dots { @include position($bottom: 3.5px); display: flex; }
  .dot { margin-right: 3px; border-radius: 100%; }
