.spinner { display: inline-block; margin: 0.5rem 0; }
  .spinner.button-spinner img { width: 40px; position: static; display: inline-block; margin: -2rem 0 -1.5rem 0; transform: translate(0); }
  .spinner img { top: 50%; left: 50%; z-index: 2; width: 100px; position: fixed; margin-top: 2rem; transform: translate(-50%, -50%);  }
