.input { width: 100%; height: auto; position: relative; }
  .input.medium .icon { top: 0.08rem; height: 95%; }
  .input.medium .inputtag { height: 3rem; font-size: 1.5rem; }
  .input.medium .label { bottom: 0.1rem; font-size: 1.5rem; }
    .input.medium .label.top { bottom: 2.4rem; }
  
  .input.large .icon { top: 0.08rem; height: 95%; }
  .input.large .inputtag { height: 3.5rem; font-size: 1.6rem; }
  .input.large .label { bottom: 0.4rem; font-size: 1.6rem; }
    .input.large .label.top { bottom: 2.85rem; left: 0.1rem; }
  .input.large.inside .inputtag { padding-top: 1.5rem; }
  .input.large.inside .label.top { font-size: 1.1rem; left: 0.5rem; bottom: 1.5rem; }
  .input.large.inside .label.in { left: 3.5rem; }

  .icon { top: 0.19rem;  margin-left: -0.015rem; width: 3rem; right: 0.09rem; height: 89%; padding: 0 0.5rem; position: absolute; background: lightgrey; display: flex; align-items: center; }
    .icon.left { left: 0.09rem; }
    .icon.left + .label { left: 3.5rem; }
    .icon.left + input, 
    .icon.left + .label + input { padding-left: 3.4rem; }
  .label { width: 97%; font-size: 1.4rem; position: absolute; pointer-events: none; margin-bottom: 0.5rem; transition: 0.2s ease-in-out; bottom: -0.1rem; left: 0.7rem; transition-property: bottom, left, font-size; }
    .label.top {  left: 0.1rem; bottom: 1.9rem; }
  .inputtag { width: 100%; padding: 0.2rem; }
  .inputtag[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; } /*remove default strokes */
  .inputtag[type=number] { -moz-appearance: textfield; }
  .errmsg { color: red; width: 99%; font-size: 1.3rem; margin: -0.5rem 0 0 0.2rem; }