@import '../styles.scss';


.modal { @include theme($theme) { border: 1px solid get-theme-color('primary-border-color'); background-color: get-theme-color('accent-color'); }; display: flex; flex-direction: column; position: fixed; top: 18%; left: 50%; z-index: 30; opacity: 1; visibility: visible; min-width: 45rem; max-width: 60%; min-height: 15rem; border-radius: 7px; transform: translateX(-50%); transition: 1s ease-in-out; transition-property: opacity visibility; }
  .modal .header { @include theme($theme) { border-bottom: 1px solid get-theme-color('secondary-border-color') }; display: flex; font-size: 18px; text-align: center; align-items: center; justify-content: space-between; padding: 1rem 0.5rem; }
  .modal .header .header-wrapper { flex: 1 1 90%; }
  .modal .header .close i { @include theme($theme) { color: get-theme-color('secondary-icon-color'); }; font-size: 30px; margin-left: 0.5rem; cursor: pointer; transition: 0.2s ease-in-out color; }
    .modal .header .close i:hover { @include theme($theme) { color: get-theme-color('primary-icon-color') }; }
  .modal .main { flex: 1 0 50%; padding: 1rem 2rem; min-height: 10rem; max-height: 35rem; margin-right: 0.2rem; }
  .modal .footer { @include theme($theme) { border-top: 1px solid get-theme-color('secondary-border-color') }; padding: 1rem 0.5rem; }
  .overlay { @include theme($theme) { background-color: get-theme-color('overlay-color') }; opacity: 0.7; visibility: visible; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 29; transition: 1s ease-in-out; transition-property: opacity visibility; }
  .modal.closed { opacity: 0; visibility: hidden; }
    .modal.closed + .overlay { opacity: 0; visibility: hidden; }

@include break-points('phone') {
  .modal { min-width: 95%; top: 5%; }
}
