@import '../styles.scss';


.sign { @include border($size: 5); border-bottom: none !important; position: relative; width: 49%; left: calc(1%); }
  .sign:first-child { @include border(right, $size: 5.3); }
  .sign:nth-child(odd) { border-top-right-radius: 35px; border-left: none; }
    .sign:nth-child(odd) .icon { left: -25px; top: -34px; }
    .sign:nth-child(odd) .wrapper { @include fade('hide', 2s); left: -10rem; }
    .sign.animate:nth-child(odd) .wrapper { @include fade('show', 2s); left: calc(0%); }
  .sign:nth-child(even) { left: calc(50% - 5px); border-top-left-radius: 35px; border-right: none; }
    .sign:nth-child(even) .icon { right: -25px; top: -34px; }
    .sign:nth-child(even) .wrapper { @include fade('hide', 2s); right: -10rem; }
    .sign.animate:nth-child(even) .wrapper { @include fade('show', 2s); right: calc(0%); }
  .sign .wrapper { @include multiple-transition(0.8s, left, right, opacity); width: 85%; margin: 0 auto; margin-top: 2rem; padding: 2em 0.5em 0.5em 0.5em; border-radius: 8px; position: relative; }
    .sign .wrapper .right-handle,
    .sign .wrapper .left-handle { @include position($top: -31px); content: ''; width: 7px; height: 40px; border: 1px solid white; border-radius: 18px; }
    .sign .wrapper .right-handle { right: calc(10%); }
    .sign .wrapper .left-handle { left: calc(10%); }
    .sign .wrapper h3 { @include position($top: -0.5em); @include color($body-color); width: 100%; text-align: center; }
    .sign .icon { position: absolute; padding: 1em; border-radius: 50%; }

@include break-points(phone) {
  .sign { left: calc(5% - 7px); border-right: none !important; width: 90%; margin-bottom: 2rem; }
    .sign:nth-child(odd) { @include border(left, $size: 5.5); border-top-left-radius: 35px; border-top-right-radius: 0; }
      .sign:nth-child(odd) .icon { right: -25px; left: auto; }
      .sign:nth-child(odd) .wrapper { left: auto; right: -10rem; }
      .sign.animate:nth-child(odd) .wrapper { left: auto; right: calc(0%); }
    .sign:nth-child(even) { left: calc(5% - 7px); }  
}
