@import '../styles.scss';


.gallery { width: 90%; margin: 0 auto; display: grid; grid-gap: 0.8rem;  grid-auto-flow: dense; }
  .gallery img { @include bg-color($primary-border-color); @include border($size: 3); @include multiple-transition(0.2s, transform, opacity); width: 100%; height: 100%; object-fit: cover; scale: (1); opacity: 0.95; }
    .gallery img:hover { transform: scale(1.02); opacity: 1; }
    .gallery img.panorama { grid-column: span 4; @include break-points($bp-desktop) { grid-column: span 3; }; @include break-points($bp-tablet) { grid-column: span 2; }; }
    .gallery img.landscape { grid-column: span 2; }
    .gallery img.portrait { grid-row: span 2; }
    .gallery img.square { grid-column: span 1; }
    .gallery img.big-square { grid-row: span 2; grid-column: span 2; }
