@import 'reset.scss';
@import 'typography.scss';


html {
  &.theme--dark {
    color: #3D3D3D;
    background-color: white;
    filter: contrast(90%) invert(90%) hue-rotate(180deg);

    *[style^='background-image: url'], img, button {
      filter: invert(100%) hue-rotate(-180deg);
    }

    img[src$='.gif'] { 
      filter: contrast(40%); 
    }
  }
}
