* {
	margin: 0;
	padding: 0;
  outline: none;
  font: inherit;
  border: 0 none;
  box-sizing: border-box;
	vertical-align: baseline;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;

  body {
    font-size: 1.6rem;

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section { 
      display:block;
    }

    audio,
    video {
      display: inline-block;
    }

    img {
      border-style: none;
    }

    a, button, input, textarea, select {
      color: black; 
      text-decoration: none; 
    }

    ul {
      list-style-type: none;
    }
  }
}
