@import '../styles.scss';


.scroll { @include vertically-centred; overflow-y: auto; margin-right: 0.2rem; word-break: break-all; }
  .scroll.micro::-webkit-scrollbar { width: 4px; }
  .scroll.small::-webkit-scrollbar { width: 9px; }
  .scroll.medium::-webkit-scrollbar { width: 12px; }
  .scroll.large::-webkit-scrollbar { width: 15px; }
  .scroll::-webkit-scrollbar-track { @include theme($theme) { box-shadow: inset 0 0 5px get-theme-color('scroll-color'); }; border-radius: 10px; margin: 0 30px; }
  .scroll::-webkit-scrollbar-thumb { @include bg-color('scroll-color'); border-radius: 10px; }