.scroll { overflow-y: auto; margin-right: 0.2rem; display: flex; align-items: center; word-break: break-all; }
  .scroll.micro::-webkit-scrollbar { width: 4px; }
  .scroll.small::-webkit-scrollbar { width: 9px; }
  .scroll.medium::-webkit-scrollbar { width: 12px; }
  .scroll.large::-webkit-scrollbar { width: 15px; }
  .scroll::-webkit-scrollbar-track { border-radius: 10px; box-shadow: inset 0 0 5px grey; margin: 0 30px; }
  .scroll::-webkit-scrollbar-thumb { border-radius: 10px; background: grey; }