@import '../styles.scss';


.tag { display: inline-flex; align-items: center; margin: 0 0.5rem 0.5rem 0.5rem; cursor: default; font-weight: 500; font-size: 1.5rem; border-radius: 3px; } 
  .tag.secondary { @include set-background($secondary-color); }
  .tag.success { @include set-background($success-color); }
  .tag.danger { @include set-background($danger-color); }
  .tag.warning { @include set-background($warning-color); }
  .tag.light { @include set-background($light-color); }
  .tag.dark { @include set-background($dark-color);  }
  .tag > i, .tag > p { margin: 0.5rem; }
  .tag .close { display: flex; align-items: center; padding: 0.2rem 1rem; border-radius: 3px; align-self: stretch; cursor: pointer; transition: 0.3s ease background-color; }
    .tag.tag.secondary .close { @include background-hover($secondary-color, $secondary-hover-color); }
    .tag.success .close { @include background-hover($success-color, $success-hover-color); }
    .tag.danger .close { @include background-hover($danger-color, $danger-hover-color); }
    .tag.warning .close { @include background-hover($warning-color, $warning-hover-color); }
    .tag.light .close { @include background-hover($light-color, $light-hover-color); }
    .tag.dark .close { @include background-hover($dark-color, $dark-hover-color); } 
    .tag .close i { font-size: smaller; }
