.container { width: 100%; display: flex; flex-direction: column;}
  .container.left { flex-direction: row;}
  .container.left label { text-align: right; margin-right: 1rem; margin-top: -0.5rem; }

  .container.right { flex-direction: row-reverse; }
  .container.right label { text-align: left; margin-left: 1rem; margin-top: -0.5rem; }

  label {flex: 1 0 auto }
  .textarea { resize: vertical; padding: 0.5rem 0 0 1rem; }
    .textarea.size { width: 100%; height: 7rem; }
    .textarea.nonresize { resize: none; }
  .textarea::-webkit-scrollbar { width: 7px; }
  .textarea::-webkit-scrollbar-track { border-radius: 10px; box-shadow: inset 0 0 5px grey; }
  .textarea::-webkit-scrollbar-thumb { border-radius: 10px; background: grey; }
